<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>부서정보</title>
</head>
<body>
	<div>
		<div>
			<label for="dId">부서번호</label>
			<input type="text" id="dId" th:value="${deptInfo.departmentId}" readonly>
		</div>
		<div>
			<label for="dname">부서이름</label>
			<input type="text" id="dname" th:value="${deptInfo.departmentName}" readonly>
		</div>
		<div>
			<label for="dman">매니저</label>
			<input type="text" id="dman" th:value="${deptInfo.managerId}" readonly>
		</div>
		<div>
			<label for="loc">로케이션</label>
			<input type="text" id="loc" th:value="${deptInfo.locationId}" readonly>
		</div>
		<div>
			<button type="button" th:onclick="|location.href='@{/deptList}'|">목록</button>
			<button type="button" id="btn1" th:onclick="|location.href='@{/deptUpdate(departmentId=${deptInfo.departmentId})}'|">수정</button>
			<button type="button" th:onclick="|location.href='@{/deptDelete(departmentId=${deptInfo.departmentId})}'|">삭제</button>
		</div>
	
	
	</div>
</body>
</html>