<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>부서정보수정</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div>
		<form th:object="${deptInfo}">
			<div>
				<label for="departmentId">부서번호</label>
				<input type="text"  th:field="*{departmentId}" readonly>
			</div>
			<div>
				<label for="departmentName">부서이름</label>
				<input type="text" th:field="*{departmentName}">
			</div>
			<div>
				<label for="managerId">매니저</label>
				<input type="text" th:field="*{managerId}">
			</div>
			<div>
				<label for="locationId">로케이션</label>
				<input type="text" th:field="*{locationId}">
			</div>
			<div>
				<button type="button" id="updBtn">저장</button>
				<button type="button" th:onclick="|location.href='@{/deptInfo(departmentId=${deptInfo.departmentId})}'|">뒤로</button>
			</div>
		</form>
	
	</div>

	<script>
		$('#updBtn').on('click', updateAjax);  //()=>console.log('adf')
		
		function updateAjax(event){
	
			let result = validationCheck(); // if(!validationCheck()) return ;
			if(result == false) return;
			
			let dataObj = getDeptObj();
			
			$.ajax('deptUpdate', {
				type: 'post',
				contentType : 'application/json',
				data : JSON.stringify(dataObj)
			})
			.done(result =>{
				console.log(result);
			})
			.fail(err => console.log(err));
		}
		
		function validationCheck(){
			let dId = $('#departmentId');
			if(dId == null){
				alert('부서번호는 필수 입력사항입니다.');
				dId.focus();
				return false;
			}
			let dname = $('#departmentName');
			if(dname == ''){
				alert('부서이름은 필수 입력사항입니다.');
				dname.focus();
				return false;
			}

			
		}
		
		function getDeptObj(){
			let formAry = $('form').serializeArray();
			let formObj = {};
			formAry.forEach(inputTag =>{
				formObj[inputTag.name] = inputTag.value;
			});
			return formObj;
		}
	
	</script>
</body>
</html>