<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>게시판 목록</title>
</head>
<body>
	<div>
		<table border="1px">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th> <!-- yyyy년MM월dd일 -->
				</tr>
			</thead>
			<tbody>
				<th:block th:each="board : ${boardList}">
					<tr>
						<td>[[ ${board.bno} ]]</td>
						<td>[[ ${board.title} ]]</td>
						<td>[[ ${board.writer} ]]</td>
						<td>[[ ${#dates.format(board.regdate, 'yyyy년MM월dd일')} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>