<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<form name="insertForm" th:action="@{/boardInsert}" method="post">
		<table>
			<tr>
				<th>제목</th>
				<td><input type="text" name="title" ></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td><input type="text" name="writer" ></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea  cols="30" rows="5" name="contents"></textarea></td>
			</tr>
			<tr>
				<th>첨부파일</th>
				<td><input type="text" name="image"></td>
			</tr>
			<tr>
				<th>작성일자</th>
				<td><input type="date" name="regdate" placeholder="yyyy/MM/dd"></td>
			</tr>
		</table>
		<button type="submit">등록</button>
	</form>
	
	<script>
		//insertForm.addEventListener('click', ()=>{alert("adsf")});
		$(insertForm).on('submit', boardInserthandler);
		
		function boardInserthandler(event){
			//필드 - target, currentTarget
			//메소드 - stopPropagation(): 버블링막기 preventDefault() : 자동 submit 막기 (form, a)
			event.preventDefault();
			
			let title = $('input[name="title"]');
			let writer= $('input[name="writer"]');
			let contents= $('input[name="contents"]');
			
			if(title.val() == ''){
				alert('제목이 입력되지 않았습니다.');
				title.focus();
				return;
			}
			
			if(writer.val() == ''){
				alert('작성자가 입력되지 않았습니다.');
				writer.focus();
				return;
			}
			
			if(contents.val() == ''){
				$('input[name="contents"]').val("No contents");
			}
			
			insertForm.submit();
		};
	</script>
</body>
</html>