<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
		<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="text-align:center">도서번호</th>
					<th>도서명</th>
					<th>대여총계</th>
					<th>대여횟수</th> 

				</tr>
			</thead>
			<tbody>
				<th:block th:each="rent : ${rentList}">
					<tr > 
						<td style="text-align:center">[[ ${rent.bookNo} ]]</td>
						<td>[[ ${rent.bookName} ]]</td>
						<td style="text-align:right">[[ ${rent.totalprice} ]]</td>
						<td style="text-align:right">[[ ${rent.count} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>